/*Colores Spotlight: 
    #222222 (negro)
    #5c85f7
    #FFFFFF (blanco)*/ 
*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    font-family: 'Poppins', sans-serif;
}

h1{font-size: 4em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.2em;}
ul{list-style-type: none;}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    background-color: #5c85f7;
}

button:hover{
    background-color: #5275d6;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: #fafafa;
    width: 100%;
    z-index: 100;
    margin: 0;
    padding: 0px;
}

.menuarriba{
    padding-top: 20px;
}

.color-acento{ 
    color: #5c85f7; 
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: #5c85f7;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/Banner1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
}

#somos-la-primera{
    text-align: center;
    font-size: 1.5em;
}

#somos-la-primera .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;  
}

#se-dedica{
    text-align: justify;
}

#se-dedica .container{
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;  
}

#foto-home1 .container{
    width: 96%;
    max-width: 960%;
    margin: 0 auto;
}

#foto-home1 img {
    width: 100%;
    height: auto;
}

#es-incubado{
    text-align: center;
}

#es-incubado .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;  
}

#empoderamos{
    text-align: center;
    font-size: 1.5em;
}

#empoderamos .container{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px;  
}

#nuestras-estudiantes{
    color: #5c85f7;
    text-align: center;
}

#nuestras-estudiantes .container{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 800px;   
}

#nuestras-estudiantes h2{
    font-size: 3.5em;
    margin: 20px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}


#nuestras-estudiantes h3{
    font-size: 1.9em;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;    
    color: #5c85f7;
}

#nuestras-estudiantes p{
    font-size: 0.8em;
    display: flex;
    color: white;
    font-style: italic;
}

#nuestras-estudiantes .carta{
    background-color: black;
    background-position: center center;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 10px;
    border-radius: 10%;
    padding: 0px 50px;
    padding-bottom: 50px;
}

video {
    width: 100%;
}

#metodologia-spotlight .container{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    max-width: 800px;   
}

.videokara {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
    
.videokara iframe,
.videokara object,
.videokara embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.videoAle {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 30px; 
    height: 0;
    overflow: hidden;
    }
    
.videoAle iframe,
.videoAle object,
.videoAle embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

.videoAnna {
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        height: 0;
        overflow: hidden;
        }
        
.videoAnna iframe,
.videoAnna object,
.videoAnna embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }

.videoMariel {
        position: relative;
        padding-bottom: 56.25%; 
        padding-top: 30px; 
        height: 0;
        overflow: hidden;
        }
            
.videoMariel iframe,
.videoMariel object,
.videoMariel embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }

footer{
    background-color: black;
    color: white;
    padding-top: 3%;
}

footer .container{
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

footer a{
    padding: 5px 50px;
    text-decoration: none;
    color: white;
    line-height: 3em;
}

footer h4{
    font-size: 1.5em;
}

footer .whatsappvector{
    background-image: url(/Whatsapp-white-logo.webp);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

footer .correovector{
    background-image: url(/correo-spotlight.webp);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

footer .ubicacionvector{
    background-image: url(/ubicacion-vector.webp);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

footer hr{
    height: 3px;
    background-color: white;
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(204, 204, 204);
    font-size: small;
}

footer a:hover{
    color: #5c85f7;
}

footer .menufooter2{
    text-align: left;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
        top: 0%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0px;
    }

    header img{
        flex-direction: row;
        padding: 20px 20px;
    }

    header nav{
        flex-direction: row;
        padding: 20px 20px;
    }

    header .menuarriba{
        flex-direction: row;
        padding: 10px 10px;
    }
    
    #somos-la-primera{
        font-size: 3em;
    }

    #empoderamos{
        font-size: 3em;
    }

    #nuestras-estudiantes .estudiantes{
        display: flex;
        justify-content: center;
    }

    #nuestras-estudiantes p{
        display: block;
    }

    #nuestras-estudiantes .carta{
        background-position: center center;
        background-size: cover;
        text-align: center;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin: 10px;
        border-radius: 10%;
        padding: 0px 50px;
        padding-bottom: 50px;
        width: 400px;
    }

    #nuestras-estudiantes h2{
        font-size: 4.5em;
    }

    footer .menufooter li{
        PADDING-RIGHT: 2px;
        DISPLAY: inline;
        PADDING-LEFT: 2px;
        FLOAT: left;
        PADDING-BOTTOM: 2px;
        WIDTH: 30%;
        PADDING-TOP: 2px
    }


    footer .menufooter{
        PADDING-RIGHT: 0px;
        PADDING-LEFT: 0px;
        FLOAT: left;
        PADDING-BOTTOM: 0px;
        MARGIN: 15px 0px;
        WIDTH: 100%;
        PADDING-TOP: 0px;
        LIST-STYLE-TYPE: none
    }

    footer a{
        padding: 5px 50px;
        text-decoration: none;
        color: white;
        line-height: 2.5em;
    }

    footer {
        padding-top: 10px;
    }

    

    


    

















}